
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
 box-sizing: border-box;
 padding: 0;
 margin: 0; 
}

body{
   font-family: Arial, Helvetica, sans-serif;
}
header{
  width: 100%;
  background-color: rgba(112, 111, 111, 0.2);
  position: absolute;
  z-index: 111;

}

.humbegar{
  display: none;
}
.container{
  max-width: min(90%, 1200px);
  margin: 0 auto;
}
.header{
  display: flex;
  justify-content:space-between;
  align-items: center;
  height: 5.3125rem;
}
.header a{
  text-decoration: none;
}
.header h1{
  color: white;
  font-size: 2rem;
}
.header span{
  color: #ed563b;
}

.menu{
  display: flex;
  gap:2rem
}
.menu ul{
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  align-items: center;
}

ul li a{
  text-decoration: none;
  color: rgb(221, 218, 218);
  font-size: 1.1rem;
  font-weight: 460;

}
ul li{
  list-style: none;
}

button{
  padding: 10px;
  background-color: #ed563b;
  border: none;
  color: aliceblue;
  font-size: 1rem;
  border-radius: 0.2rem;
}

ul li a:hover{
  color: #ed563b;
}

button:hover{
  background-color: aliceblue;
  color: #ed563b;
}

#myvideo{
  width: 100vw;
  height: 100vh;
  object-fit: cover;

}

.overlay{
  background-color: rgba(31, 35, 63, 0.4);
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: 0;
}
.her_contant{
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.her_contant h3{
  color: white;
  font-size: 2rem;
}
.her_contant h1{
  font-size: 4rem;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  margin-block: 0.5rem;
}
.her_contant h1 span{
  color: #ed563b;
 }

 .program{
  margin-top: 6rem;
  margin-bottom: 4rem;
 }

 .pro_cont{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  gap: 1.3rem;
 }
 .pro_cont h1{
  font-size: 2.8rem;
  text-transform: uppercase;
 }

 .pro_cont p{
    width: 69vh;
    text-align: center;
    color: rgba(18, 18, 18, 0.715);
    line-height: 1.5;
 }
 .pro_cont h1 span{
  color: #ed563b;
 }
 .pro_cont img{
  width: 5%;
 }

 .pro_boxs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
 }

 .box{
  display: flex;
  gap: 2rem;
  margin-bottom: 4.5rem;
  margin-top: 1.5rem;
 }
 .box img{
  width: 25%;
  height: 20%;

 }
 .box_info{
  line-height: 1.7;
  p{
    color: rgba(18, 18, 18, 0.715);
  }
 }

 .box_info a{
    text-decoration: none;
    p{
    color: #ed563b;
    }
 }

 .ads{
 /* background-image:linear-gradient(rgba(152, 151, 151, 0.5), rgba(111, 111, 111, 0.5)), url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/training-image-01.jpg") ; */
 background-image: url("https://templatemo.com/templates/templatemo_548_training_studio/assets/images/cta-bg.jpg");
 background-size: cover;
 height: 50vh;

 }
 .ads_cont{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 0.9rem;
  height: 100%;
  color: rgb(244, 242, 239);
 }

 .ads_cont p{
 width: 73%;
 line-height: 1.5;
 }

 .ads_cont h1{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 900;
 }
 .ads_cont span{
  color: #ed563b;
 }
@media (max-width: 767px) {
   .humbegar{
    display: flex;
    background-color: #ed563b;
    width: 40px;
    height: 40px;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
   }
   .humbegar i{
    color: white;
    font-size: 1.2rem;
   }
    header{
      background-color: white;
    }
   .header{
    display: flex;
    flex-direction: column;
   }
   .logo{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    align-items: center;
    height: 30vh;
   }

   .logo h1{
    font-size: 1.8rem;
   }

   .menu ul{
      display: flex;
      flex-direction: column;
      width: 60vw;
      padding-bottom: 1rem;
      align-items: center;
    }
    .menu{
      background-color: rgb(238, 242, 242);
      margin-top:5rem;
      flex-direction: column;
      transform: translateY(-0%);
      /* transition: transform 350ms ease-in-out; */
      position: fixed;

    }
    .menu[data-visible="true"]{
     transform: translateY(-150%);
      
    }
    .humbegar i[data-visible="false"]{
      display: none;
    }
    
    .humbegar i[data-visible="true"]{
      display: block;
    }

    .menu ul li{
      border-bottom: solid 1px #ed563b;
      width: 100%;
      text-align: center;

    }
    .menu ul li a{
      color: rgb(25, 24, 24);
    }

    
   .header h1{
    color: black;
   }
  
    .her_contant {
      margin-top: 1.5rem;
    }
   .her_contant h3{
    font-size: 1.5rem;
     }
   
   .her_contant h1{
    font-size: 2.9rem;
    line-height: 1.2;
    }
    .pro_cont{
      margin-bottom: 1.5rem;
      margin-top: 1rem;
    }
    .pro_cont h1{
      font-size: 2rem;
    }
    .pro_boxs{
      flex-direction: column;
      display: flex;
      gap: 0rem;
    }

    .box img{
     width: 40%;
    height: 40%;
    }
    .box{
      margin: 1rem;
    }
   .ads{
    width: 100%;
    height: 300px;
   } 
   .ads_cont{
    margin: 2rem;
    width: 100%;
   }
   .ads_cont h1{
    font-size: 1.5rem;
    padding: 0;
   }

   .ads_cont p{
    font-size: 1rem;
   }
}
